.App {
  text-align: center;
}

.login-wrapper{
  text-align: center;
}

.login-main-wrapper{
  width: 450px;
  margin-left: 35%;
  margin-right: 35%;
}

.icons {
  background-color: blue;
  justify-content: left;
}

.product-form-wrapper {
  /* width : 50%; */
  align-items : center;
  text-align:center;
  margin-left : 25%;
  margin-right : 25%;
}
/* 
.card-wrapper {
  border : 1px solid ;
  margin : 10px;
  border-style : dashed;
} */

.table-row details {
  cursor: pointer;
}